/out/production/Java2/Lesson1/HomeWork3.class
/.idea/.gitignore
/out/production/Java2/Lesson1/HomeWork1.class
/out/production/Java2/Lesson1/HomeWork2.class
/Java2.iml
/out/production/Java2/Lesson1/LeetCodeTask1.class
/out/production/Java2/Lesson1/LeetCodeTask2.class
/out/production/Java2/Lesson1/LeetCodeTask3.class
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
